<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengsheng.logistics.business.order.mapper.OrderMapper">


    <select id="findByOrderId" resultType="com.chengsheng.logistics.business.order.entity.OrderMapperEntity">
        select * from chengsheng_order where id = #{id}
    </select>

</mapper>